/* all pages decoration */
body{
    background-image: linear-gradient(to right,lightblue,cyan);
}


.header{
    border: 2px solid black;
    width: auto;
    height:40px;
    padding: 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link{
    /* border: 2px solid black; */
    height:100%;
    width: 30%;
    font-size: 30px;
}
#search_bar{
    /* border: 2px solid black; */
    height:100%;
    width: 60%;
    text-align: center;

}
#search_bar input {
    height: 30px;
    width: 70%;
}
/* pop -upaaaa */
#modals-boot{
    height: 100%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#pro-file i{
    display: inline-block;
    margin-top: 4px;
    margin-left: 3px;
}
#mypro{
    margin-top: 5px;
    float:right;
    display: inline-block;
    text-align: center;
    font-size: 11px;
}
/* main section */
#main-section{
    display: flex;
    border: 2px solid black;
    flex-direction: row;
    height: 130%;
    width: 100%;
}
#first-half{
    /* border: 2px solid black; */
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
#second-half{
    /* border: 2px solid black; */
    height: 100%;
    width: 60%;

}
/* profile  section */
#pro-div{
    width: 80%;
    height: 15%;
    border: 2px solid black;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#start-img{
    height: 100%;
    width: 30%;
    border: 2px solid black;
}
#start-img img{
    height: 100%;
    width:100%;
}

#second-start-img{
    border: 2px solid black;
    height: 100%;
    width: 70%;
}
#second-start-img h3{
    margin-top: 0%;
    margin-bottom: 0%;
}

#pop-up1{
    width: 80%;
    height: 20%;
    border: 2px solid black;
    margin: auto;
}
/* popups in displya */
.third-half{
    margin: auto;
    height: 20%;
    width: 80%;
    border: 2px solid black;
}
/* second section in first half */
.first-div{

    margin: auto ;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 2px;
    height: 45%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-self: start;
    /* border: 2px solid black; */
}
.first-div #header-section{
    /* border: 1px  solid black; */
    width: 100%;
    height: 10%;
    margin: 0%;
}
.image{
    display: inline-block;
}
.image img{
    height: 50px;
    width: 60px;
    display: inline-block;
}
.recent-1 {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}
.write{
    /* border: 2px solid black; */
    height: 40%;
    width: 100%;
}
.one-footer{
    /* border: 2px solid black; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.one-footer1{
    /* border: 2px solid black; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}
.header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    background-color:azure;

}
.header-section a{
    color: black;
    margin-top: 5px;

}
.header-section a:hover{
    color: brown;
}
/* second half */
#recent-share{
    height:50%;
    width: 50%;
    margin-top: 0%;
    margin-bottom: 0%;
    /* border: 1px solid black; */
    left: 0%;
}
#recent-share h4{
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;



}
.recent-11{
    /* border: 1px solid black; */
    padding: 2px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-self: start;
}
.recent-11 .image11{
    /* border: 1px solid black; */
    height: 60%;
    width: 20%;
    background-image:url("./profilepictire.png");
    background-size:cover;
    background-position: center;
    margin: 0%;
    padding: 0%;

}
.recent-11 .write11{
    padding: 0%;
    width: 90%;
    margin-top: 0%;
    /* display: inline-block; */
    /* border: 1px solid green; */
    text-align: center;
}
.recent-11 a{
    float: right;
    padding-right: 3%;
    color: black;
}
.recent-11 .sname{
    float: left;
}
.recent-11 a:hover{
    transition: 0.5s;
    color: brown;
}
.link-chain{
    display: flex;
    /* border: 1px solid black; */
    height: 20%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.linklelo{
    display: flex;
    justify-content: flex-start;
}
#recent-share > div{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
/* form  */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
} */
::selection{
    background: lightblue;
    color: #fff;
}
.wrapper{
    margin: auto;
    overflow: hidden;
    max-width: 350px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
    display: flex;
    width: 200%;
}
.wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 40px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.slide-controls .slide{
    height: 90%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}
.slide-controls label.signup{
    color: #000;
}
.slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, lightblue, cyan);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
    display: none;
}
#signup:checked ~ .slider-tab{
    left: 50%;
}
#signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
}
#signup:checked ~ label.login{
    color: #000;
}
#login:checked ~ label.signup{
    color: #000;
}
#login:checked ~ label.login{
    cursor: default;
    user-select: none;
}
.wrapper .form-container{
    width: 100%;
    overflow: hidden;
}
.form-container .form-inner{
    display: flex;
    width: 200%;
}
.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}
.form-inner form .field input:focus{
    border-color: black;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
}
form .field input:focus::placeholder{
    color: #b3b3b3;
}
.form-inner form .pass-link{
    margin-top: 5px;
}
.form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
    color: black;
    text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}
form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, lightblue, cyan,lightblue, cyan);
    border-radius: 5px;
    transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
    left: 0;
}
form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}