/* all pages decoration */
body{
    background-image: linear-gradient(to right,lightblue,white);
}


.header{
    border: 2px solid black;
    width: auto;
    height:40px;
    padding: 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link{
    /* border: 2px solid black; */
    height:100%;
    width: 30%;
    font-size: 30px;
}
#search_bar{
    /* border: 2px solid black; */
    height:100%;
    width: 30%;
    text-align: center;

}
#search_bar input {
    height: 30px;
    width: 70%;
}
/* pop -upaaaa */
#modals-boot{
    height: 100%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#pro-file i{
    display: inline-block;
    margin-top: 4px;
    margin-left: 3px;
}
#mypro{
    margin-top: 5px;
    float:right;
    display: inline-block;
    text-align: center;
    font-size: 11px;
}
/* main section */
#main-section{
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    height: max-content;
    width: 100%;
}
#first-half{
    border: 1px solid black;
    height: max-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
#second-half{
    /* border: 2px solid black; */
    height: 100%;
    width: 50%;

}
/* profile  section */
#pro-div{
    width: 80%;
    height: 100px;
    /*border: 2px solid black;*/
    margin: auto;
    margin-bottom: 0%;
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#start-img{
    height: 100%;
    width: 30%;
    border: 1px solid black;
}
#start-img img{
    height: 100%;
    width:100%;
}

#second-start-img{
    border: 1px solid black;
    height: 100%;
    width: 70%;
}
#second-start-img h3{
    margin-top: 0%;
    margin-bottom: 0%;
}

#pop-up1{
    width: 80%;
    height: 20%;
    border: 2px solid black;
    margin: auto;
}
/* popups in displya */
.third-half{
    margin: auto;
    height: 20%;
    width: 80%;
    /*border: 2px solid black;*/
}
/* second section in first half */
.first-div{

    margin: auto ;
    margin-top: 0%;
    margin-bottom:0%;
    height: max-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-self: start;
    border: 1px solid black;
}
.first-div #header-section{
    /* border: 1px  solid black; */
    width: 100%;
    height: 10%;
    margin: 0%;
}
.image{
    height: 35%;
    width: 20%;
    display: inline-block;
}
.image img{
    height: 110px;
    width: 100%;
    display: inline-block;
}
.recent-1 {
    height: 50%;
    width: 100%;
    display: flex;
    margin-bottom: 0%;
    margin-top: 0%;
    flex-direction: row;
    border: 1px solid black;
}
.write{
    /* border: 2px solid black; */
    height: 40%;
    width: 100%;
}
.one-footer{
    /* border: 2px solid black; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.one-footer1{
    /* border: 2px solid black; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}
.header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    background-color:azure;

}
.header-section a{
    color: black;
    margin-top: 5px;

}
.header-section a:hover{
    color: white;
}
/* second half */
#recent-share{
    height:max-content;
    width: 80%;
    /*border: 1px solid black;*/
    left: 0%;
}
#recent-share h4{
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
}
.recent-11{
    /*border: 1px solid black;*/
    padding: 2px;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-self: start;
}
.recent-11 .image11{
    /* border: 1px solid black; */
    height: 100%;
    width: 30%;
    background-size:cover;
    background-position: center;
    margin: 0%;
    padding: 0%;

}
.image11 img{
    height: 155px;
    width: 100%;
}
.recent-11 .write11{
    padding: 0%;
    width: 90%;
    margin-top: 0%;
    border: 1px solid green;
    text-align: center;
}
.recent-11 a{
    float: right;
    padding-right: 3%;
    color: black;
}
.recent-11 .sname{
    float: left;
}

.link-chain{
    display: flex;
    /* border: 1px solid black; */
    height: 20%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.linklelo{
    display: flex;
    justify-content: flex-start;
}
#recent-share > div{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}


form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}
form .field input:focus{
    border-color: lightblue;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}
form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
}
form .field input:focus::placeholder{
    color: #b3b3b3;
}
a:hover{
    color: white;
    transition: 0.5s;
}